SHOPIFY_STORE_DOMAIN=sylavie.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_API_VERSION=2026-07
ALLOWED_ORIGINS=https://www.sylavie.com,https://sylavie.myshopify.com
